section {

    position: relative;
    top: 25vh;
    text-align: center;

    h1 {
        font-size: 4rem;

        .logo {
            color: rgb(228, 56, 56);
        }
    }
    p{
        font-size: 1rem;
    }

    button {
        margin-top: 27px;
        border: none;
        text-align: center;
        width: 100px;
        transform: translateX(814px);
     
        .btn {
            
            width: 100px;
        }

        a {
            text-decoration: none;
            color: white;
        }

    }
}

section  {
    .email {
        width: 300px;
        transform: translateX(833px);
    }
}
/* Responsive */
/* Medium Screens */
@media all and (max-width: 1327px) {
    
}


/* Tablettes */
@media all and (max-width: 991px) {
    section{

        h1 {
            font-size: 3rem;
        }

    }

    .consulter {
        transform: translateX(320px);     
    
    }

}



/* Mobile */
@media all and (max-width: 767px) {

}

